<div id="navbar">
    <ul>
        <li class="companyLi" style="float: left;"><a onclick="closeStats()" class="companyA"><%= companyName %> | Status</a></li>
        <% companyLinks.forEach(companyLink => { %>
            <li class="companyLink"><a href="<%= companyLink.Url %>"><%= companyLink.Id %></a></li>
        <% }); %>
    </ul>
</div>